# Arquivos
1. Lista de compras/index2.html
1. Lista de compras/style2.css
1. Lista de compras/Lista de_ compras.pdf
2. Imagem com link/Imagem com link.pdf
3. Paragrafos coloridos/Paragrafos coloridos.pdf